@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400;1,700&family=Oswald:wght@300;400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    background-color: #F4F4F4;
    min-height: 100vh;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* ---- top nav bar ---- */

.top-bar {
    width: 100%;
    top: 0;
    height: 65px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #E7E7E7;
}

.nav-bar {
    width: 79.3%;
    height: 65px;
    position: relative;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    position: relative;
}

.nav-bar ul li {
    position: relative;
    display: inline-block;
}

.links li {
    padding-right: 26px;
}

.links a {
    font-family: "Lato", Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    color: #444444;
}

.social a {
    font-size: 14px;
    color: #C0C0C0;
}

.search {
    padding-left: 20px;
}

.social li:not(.search) {
    padding-left: 11px;
}

/* ---- end top nav bar ---- */

.core {
    width: 79.3%;
    min-height: 100vh;
    margin: auto;
    display: flex;
    justify-content: space-between;

}

.main-bar {
    width: 65.8%;
    background-color: F4F4F4;
}

.sidebar {
    width: 31.6%;
    background-color: #F4F4F4;
}

/* ---- main article ---- */

.main-article {
    width: 100%;
    border: 1px solid #E7E7E7;
    background-color: #FFFFFF;
    margin-top: 53px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-article-img {
    width: 100%;
    height: 496px;
    position: absolute;
    top: 0;
    object-fit: cover;
}

.main-article h3 {
    padding-top: 500px;
    margin-top: 43px;
    position: relative;
    text-align: center;
    font-family: "Lato", Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    color: #CB6140;
    letter-spacing: 0.6px;
}

.main-article h1 {
    position: relative;
    text-align: center;
    margin: 0;
    font-family: "Oswald", Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 0.6px;
}

.main-article p {
    padding: 14px 40px;
    position: relative;
    font-family: "Lato", Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 26px;
}

/* ---- larger image ---- */

.main-article:nth-child(3) .main-article-img {
    height: 524px;
}

.main-article:nth-child(3) h3 {
    margin-top: 70px;
}

/* ---- end larger image ---- */

.main-article button {
    position: relative;
    text-align: center;
    color: #CB6140;
    border: 1px solid #CB6140;
    background-color: #FFFFFF;
    font-family: "Lato", Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    padding: 12px 18px;
    margin: 7px 0;
}

.article-footer {
    position: relative;
    margin-top: 34px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 40px 33px 40px;
    color: #C0C0C0;
}

.article-footer a {
    color: #C0C0C0;  
}

.article-footer:before {
    content: " ";
    position: absolute;
    width: 90%;
    top: 0;
    left: 40px;
    border-top: 1px solid #C0C0C0;
}

.article-footer ul {
    position: relative;
}

.article-footer ul li {
    display: inline-block;
}

.article-footer .author, .article-footer .author-name {
    font-family: "Lato", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 14px;
    letter-spacing: 0.5px;
}

.article-footer .social-links li {
    padding-left: 14px;
}

/* ---- end main article ---- */

/* ---- sidebar id ---- */

.sidebar-id {
    background-color: #FFFFFF;
    margin-top: 53px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.sidebar-id .id-background {
    width: 100%;
    height: 192px;
    position: absolute;
    top: 0;
    object-fit: cover;
}

.sidebar-id .id-profile {
    width: 205px;
    height: 205px;
    margin-top: 106px;
    border: 8px solid #FFFFFF;
    border-radius: 50%;
    z-index: 20;
    object-fit: cover;
}

.sidebar-id h2 {
    font-family: "Oswald", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    margin-top: 6px;
}

.sidebar-id p {
    padding: 0 34px;
    margin-top: 10px;
    text-align: center;
    position: relative;
    font-family: "Lato", Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 26px;
}

.sidebar-id ul {
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 8px;
    padding: 0 20px 50px 20px;
}

.sidebar-id ul li {
    display: inline-block;
    position: relative;
    text-align: center;
    vertical-align: bottom;
    margin: 0 3px;
    padding: 4px;
    height: 30px;
    width: 30px;
    transform: translateX(-25%);
    border: 1px solid #E7E7E7;
    border-radius: 50%;
}

.sidebar-id ul li a {
    position: relative;
    height: 20px;
    width: 20px;
    font-size: 12px;
    color: #C0C0C0;
}