@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400;1,700&family=Oswald:wght@300;400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
    box-sizing: border-box;
    height: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    background-color: #F4F4F4;
    min-height: 100vh;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.fa-comment {
    padding-left: 12px;
}

/* ---- top nav bar ---- */

.top-bar {
    width: 100%;
    top: 0;
    height: 65px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #E7E7E7;
}

.nav-bar {
    width: 79.3%;
    height: 65px;
    position: relative;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    position: relative;
}

.nav-bar ul li {
    position: relative;
    display: inline-block;
}

.links li {
    padding-right: 26px;
}

.links a {
    font-family: "Lato", Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    color: #444444;
}

.social a {
    font-size: 14px;
    color: #C0C0C0;
}

.search {
    padding-left: 20px;
}

.social li:not(.search) {
    padding-left: 11px;
}

.nav-bar ul li a:hover {
    color: #CB6140;
}

.mobile-dropdown {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 3.0s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #444444;
}

.mobile-dropdown:hover > .bar {
    background-color: #CB6140;
}

.core {
    width: 79.3%;
    min-height: 100vh;
    margin: auto;
    display: flex;
    justify-content: space-between;

}

.main-bar {
    width: 65.8%;
    background-color: F4F4F4;
}

.sidebar {
    width: 31.6%;
    background-color: #F4F4F4;
}

/* ---- main article ---- */

.main-article {
    width: 100%;
    border: 1px solid #E7E7E7;
    background-color: #FFFFFF;
    margin-top: 53px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-article-img {
    width: 100%;
    height: 496px;
    position: absolute;
    top: 0;
    object-fit: cover;
}

.main-article h3 {
    padding-top: 500px;
    margin-top: 43px;
    position: relative;
    text-align: center;
    font-family: "Lato", Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    color: #CB6140;
    letter-spacing: 0.6px;
}

.main-article h1 {
    position: relative;
    text-align: center;
    margin: 0;
    font-family: "Oswald", Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 0.6px;
}

.main-article h1 a {
    color: #444444;
}

.main-article h1 a:hover {
    color: #CB6140;
}

.main-article p {
    padding: 14px 40px;
    position: relative;
    font-family: "Lato", Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 26px;
    color: #444444;
}

/* ---- larger image ---- */

.main-article:nth-child(3) .main-article-img {
    height: 524px;
}

.main-article:nth-child(3) h3 {
    margin-top: 70px;
}

/* ---- end larger image ---- */

.main-article button {
    position: relative;
    text-align: center;
    color: #CB6140;
    border: 1px solid #CB6140;
    background-color: #FFFFFF;
    font-family: "Lato", Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    padding: 12px 18px;
    margin: 7px 0;
}

.main-article button:hover {
    color: #FFFFFF;
    background-color: #CB6140;
    cursor: pointer;
}

.article-footer {
    position: relative;
    margin-top: 34px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 40px 33px 40px;
    color: #C0C0C0;
}

.article-footer a {
    color: #C0C0C0;  
}

.article-footer a:hover {
    color: #CB6140;
}

.article-footer:before {
    content: " ";
    position: absolute;
    width: 90%;
    top: 0;
    left: 40px;
    border-top: 1px solid #E7E7E7;
}

.article-footer ul {
    position: relative;
}

.article-footer ul li {
    display: inline-block;
}

.article-footer .author, .article-footer .author-name {
    font-family: "Lato", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 14px;
    letter-spacing: 0.5px;
    color: #444444;
}

.article-footer .social-links li {
    padding-left: 14px;
}

/* ---- end main article ---- */

/* ---- page nav ---- */

.page-navigation {
    margin: 50px 0 90px 0;
}

.page-links {
    position: relative;
    text-align: left;
}

.page-links li {
    display: inline-block;
    height: 38px;
    width: 35px;
    margin-right: 5px;
    background-color: #FFFFFF;
    border: 1px solid #E7E7E7;
}

.page-links li a {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    padding-top: 8px;
    color: #444444;
    text-align: center;
}

.page-links #current-page a {
    color: #FFFFFF;
    background-color: #CB6140;
}

.page-links li .fa-solid {
    font-size: 12px;
    padding-top: 13px;
}

.page-links li .page-number {
    font-family: "Oswald", Arial, Helvetica, sans-serif;
    font-weight: 400;
}

.page-links li a:hover {
    background-color: #CB6140;
    color: #FFFFFF;
}

/* ---- end page nav ---- */

/* ---- sidebar id ---- */

.sidebar-id {
    background-color: #FFFFFF;
    margin-top: 53px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border: 1px solid #E7E7E7;
}

.sidebar-id .id-background {
    width: 100%;
    height: 192px;
    position: absolute;
    top: 0;
    object-fit: cover;
}

.sidebar-id .id-profile {
    width: 205px;
    height: 205px;
    margin-top: 106px;
    border: 8px solid #FFFFFF;
    border-radius: 50%;
    z-index: 20;
    object-fit: cover;
}

.sidebar-id h2 {
    font-family: "Oswald", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    margin-top: 6px;
    color: #444444;
}

.sidebar-id p {
    padding: 0 32px;
    margin-top: 10px;
    text-align: center;
    position: relative;
    font-family: "Lato", Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 25px;
    color: #444444;
}

.sidebar-id ul {
    position: relative;
    width: 100%;
    text-align: center;
    margin: 8px 0 20px 0;
    padding: 0 20px 32px 20px;
}

.sidebar-id ul li {
    display: inline-block;
    position: relative;
    margin: 0 3px;
    padding: 4px;
    height: 30px;
    width: 30px;
    transform: translateX(-25%);
}

.sidebar-id ul li a {
    position: relative;
    display: inline-block;
    font-size: 14px;
    color: #C0C0C0;
    height: 30px;
    width: 30px;
    padding-top: 8px;
    border: 1px solid #E7E7E7;
    border-radius: 50%;
}

.sidebar-id ul a:hover {
    background-color: #CB6140;
    color: #FFFFFF;
}

/* ---- end sidebar id ---- */

/* ---- sidebar popular ---- */

.sidebar-popular {
    width: 100%;
    margin-top: 40px;
    background-color: #FFFFFF;
    border: 1px solid #E7E7E7;
}

.sidebar-popular ul {
    width: 84%;
    margin: auto;
}

.sidebar-popular h2 {
    padding: 16px 0 14px 0;
    font-family: "Oswald", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    text-align: center;
}

.sidebar-popular .image-wrapper {
    width: 100%;
    height: 210px;
    position: relative;
    overflow: hidden;
}

.sidebar-popular .image-wrapper .overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(190, 103, 72, 0.6);
}

.sidebar-popular img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.sidebar-popular .image-wrapper img, .sidebar-popular .image-wrapper .overlay {
    transition: 200ms ease-in-out;
}

.sidebar-popular .image-wrapper .overlay {
    opacity: 0;
}

.sidebar-popular .image-wrapper .overlay:hover {
    opacity: 1;
}

.sidebar-popular h4 {
    font-family: "Oswald", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    margin: 16px 0 15px 0;
    color: #444444;
}

.sidebar-popular .post-date {
    font-family: "Lato", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 14px;
    letter-spacing: 0.3px;
    color: #C0C0C0;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #E7E7E7;
}

.sidebar-popular #last-post {
    border: 0;
    padding-bottom: 20px;
}

/* ---- end sidebar popular ---- */

/* ---- sidebar latest posts ---- */

.latest-posts {
    width: 100%;
    margin-top: 40px;
    background-color: #FFFFFF;
    border: 1px solid #E7E7E7;
}

.posts-container {
    width: 84%;
    margin: auto;
}

.latest-posts h2 {
    padding: 16px 0 14px 0;
    font-family: "Oswald", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    text-align: center;
}

.individual-post {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    border-bottom: 1px solid #E7E7E7;
    padding-bottom: 16px;
    margin-bottom: 16px;
}

.individual-post .image-wrapper {
    height: 80px;
    width: 108px;
    position: relative;
    overflow: hidden;
}

.individual-post img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.individual-post .image-wrapper .overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(190, 103, 72, 0.6);
}

.individual-post .image-wrapper img, .individual-post .image-wrapper .overlay {
    transition: 200ms ease-in-out;
}

.individual-post .image-wrapper .overlay {
    opacity: 0;
}

.individual-post .image-wrapper .overlay:hover {
    opacity: 1;
}

.individual-post .post-description {
    margin-left: 15px;
}

.individual-post .post-description h4 {
    font-family: "Oswald", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    margin: 4px 0 0 0;
}

.individual-post .post-description p {
    font-family: "Lato", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 14px;
    letter-spacing: 0.3px;
    color: #444444;
    margin-top: 10px;
}

.posts-container #last-post {
    border: 0;
    margin-bottom: 18px;
}

/* ---- sidebar instagram posts ---- */

.instagram-feed {
    width: 100%;
    margin-top: 40px;
    background-color: #FFFFFF;
    border: 1px solid #E7E7E7;
}

.instagram-feed h2 {
    padding: 16px 0 14px 0;
    font-family: "Oswald", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    text-align: center;
}

.image-container {
    width: 90%;
    margin: auto;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.image-container .image-wrapper {
    width: 152px;
    height: 154px;
    position: relative;
    margin-bottom: 10px;
}

.image-container .image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.image-container .image-wrapper .overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(190, 103, 72, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}

.image-container .image-wrapper .overlay p {
    font-family: "Lato", Arial, Helvetica, sans-serif;
    font-weight: 400;
    padding: 3px;
}

.image-container .image-wrapper img, .image-container .image-wrapper .overlay {
    transition: 200ms ease-in-out;
}

.image-container .image-wrapper .overlay {
    opacity: 0;
}

.image-container .image-wrapper .overlay:hover {
    opacity: 1;
}

.individual-post .post-description {
    margin-left: 15px;
}

/* ---- end sidebar instagram posts ---- */

/* ---- nav to top ---- */

.return-top {
  position: sticky;
  display: none;
  bottom: 25px; 
  margin-left: auto;
  right: 25px;  
  height: 35px;
  width: 35px;

}

.return-top a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(190, 103, 72, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.return-top a:hover {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(190, 103, 72, 1);
}

.return-top a i {
    position: relative;
    font-size: 20px;
}

/* ---- end nav to top ---- */

/* ---- footer ---- */

.footer {
    width: 100%;
    background-color: #FFFFFF;
    border-top: 1px solid #E7E7E7;
    bottom: 0;
}

.footer h2 {
    padding: 14px 0 14px 0;
    font-family: "Oswald", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    text-align: center;
    color: #444444;
}

.footer h2 a {
    color: #444444;
}

.footer h2 a:hover {
    color: #CB6140;
}

.footer-images {
    width: 100%;
    height: 190px;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}
.footer-images a {
    width: 12.5%;
    height: 100%;
}

.footer-images .image-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0;
}

.footer-images .image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.footer-images .image-wrapper .overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(190, 103, 72, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}

.footer-images .image-wrapper .overlay p {
    font-family: "Lato", Arial, Helvetica, sans-serif;
    font-weight: 400;
    padding: 3px;
}

.footer-images .image-wrapper img, .image-container .image-wrapper .overlay {
    transition: 200ms ease-in-out;
}

.footer-images .image-wrapper .overlay {
    opacity: 0;
}

.footer-images .image-wrapper .overlay:hover {
    opacity: 1;
}

/* ---- end footer ---- */

@media (max-width: 968px) {

    .core {
        width: 94%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .main-bar {
        width: 100%;
    }

    .sidebar {
        width: 100%;
    }

    /* ---- main ---- */

    .main-article img {
        height: 312px;
    }

    .main-article h3 {
        padding-top: 316px;
    }

    .main-article h1 {
        font-size: 22px;
    }

    .main-article p {
        padding: 14px 38px;
    }

    .main-article:nth-child(3) .main-article-img {
        height: 332px;
    }

    .main-article:nth-child(3) h3 {
        margin-top: 62px;
    }

    .page-navigation {
        margin-bottom: 50px;
    }

    /* ---- end main ---- */
    
    /* ---- side bar ---- */

    .sidebar-id {
        margin-top: 10px;
    }

    .sidebar-id .id-background {
        height: 250px;
    }

    .sidebar-id .id-profile {
        margin-top: 116px;
    }

    .sidebar-id p {
        padding: 0 20px;
    }

    .sidebar-id ul {
        margin-top: 4px;
    }

    .sidebar-popular ul {
        width: 88%;
    }

    .sidebar-popular .image-wrapper {
        height: 288px;
    }

    .latest-posts .posts-container {
        width: 88%;
    }

    .instagram-feed .image-container {
        width: 92%;
    }

    .instagram-feed .image-container .image-wrapper {
        width: 208px;
        height: 208px;
        margin-bottom: 15px;
    }

    .instagram-feed {
        margin-bottom: 75px;
    }

    /* ---- footer ---- */

    .footer-images {
        height: 132px;
    }

    .footer-images a:nth-child(n+5) {
        display: none;
    }

    .footer-images a {
        width: 25%;
    }
}

@media (max-width: 768px) {
    .nav-bar {
        width: 100%;
        margin: 0;
    }

    .nav-bar .social {
        display: none;
    }

    .top-bar {
        height: 56px;
        z-index: 60;
    
    }

    .nav-bar {
        height: 100%;
        width: 85%;
        position: relative;
    }

    .mobile-dropdown {
        display: block;
        margin-left: 100%;
    }

    .mobile-dropdown.active .bar:nth-child(2) {
        opacity: 0;
    }

    .mobile-dropdown.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .mobile-dropdown.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);    
    }

    .nav-bar .links {
        position: fixed;
        top: -100%;
        margin: 0;
        display: block;
        background-color: #FFFFFF;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        z-index: 50;
    }

    .nav-bar .links li {
        margin: 50px 0;
        display: block;
        padding: 0;
    }

    .nav-bar .links a {
        font-size: 20px;
    }

    .links.active {
        top: 56px;
    }
}

@media (max-width: 486px) {
    .article-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 34px;
    }
}